<div *ngIf="places$ | async as places; else noPlaces;" class="container">
  <mat-card *ngIf="currentUser">
    <mat-card-title>{{currentUser.displayName}}</mat-card-title>
    <mat-card-subtitle>{{currentUser.email}}</mat-card-subtitle>
    <mat-card-content>
      <mat-list>
        <div mat-subheader>My Smelly Places</div>
        <mat-list-item *ngFor="let place of places">
          <span>
            <mat-menu #placeMenu="matMenu">
              <button mat-menu-item (click)="viewPlace(place)">
                <mat-icon>my_location</mat-icon>View to Edit {{place.properties.name}}
              </button>
              <button mat-menu-item color="warn" (click)="deletePlace(place)">
                <mat-icon>delete</mat-icon>Delete {{place.properties.name}}
              </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="placeMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </span>
          <span>
            <div matLine>{{place.properties.name}}</div>
            <div matLine>{{place.properties.smell}}</div>
          </span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="places.length > 0" mat-button color="warn" (click)="deletePlaces(places)">Delete My Smelly Places</button>
      <button mat-button color="warn" (click)="deleteProfile(places)">Delete My Profile</button>
    </mat-card-actions>
  </mat-card>
</div>
<ng-template #noPlaces>
  <mat-card>
    <mat-card-title>Loading...</mat-card-title>
  </mat-card>
</ng-template>
