<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav background-color-accent_50" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <div routerLinkActive="background-color-accent_200" [routerLinkActiveOptions]="{exact: true}">
        <a mat-list-item [routerLink]="['/map']">Map</a>
      </div>
      <div *ngIf="afAuth.user | async as user; else showLogin">
        <div routerLinkActive="background-color-accent_200">
          <a mat-list-item [routerLink]="['/map/edit']">Edit</a>
        </div>
        <div routerLinkActive="background-color-accent_200">
          <a mat-list-item (click)="logout()">Logout ({{ user.displayName }})</a>
        </div>
      </div>
      <ng-template #showLogin>
        <a mat-list-item (click)="login()">Login with Google</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="title">Smelly Places</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
