<mat-toolbar color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="title">Smelly Places</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav background-color-accent_50"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <div class="mat-nav-list-container">
      <div>
        <mat-nav-list>
          <div routerLinkActive="background-color-accent_200">
            <a mat-list-item [routerLink]="['/home']">Home</a>
          </div>
          <div routerLinkActive="background-color-accent_200" [routerLinkActiveOptions]="{exact: true}">
            <a mat-list-item [routerLink]="['/map']">Map</a>
          </div>
          <div *ngIf="afAuth.user | async as user; else showLogin">
            <div routerLinkActive="background-color-accent_200">
              <a mat-list-item [routerLink]="['/map/edit']">Edit</a>
            </div>
            <div routerLinkActive="background-color-accent_200">
              <a mat-list-item [routerLink]="['profile']">My Profile</a>
            </div>
            <div routerLinkActive="background-color-accent_200">
              <a mat-list-item (click)="logout()">Logout ({{ user.displayName }})</a>
            </div>
          </div>
          <ng-template #showLogin>
            <a mat-list-item (click)="login()">Login with Google</a>
          </ng-template>
        </mat-nav-list>
      </div>
      <div>
        <mat-nav-list>
          <div routerLinkActive="background-color-accent_200">
            <a mat-list-item [routerLink]="['/cookie']" (click)="content.scrollTo({top: 0})">Cookie
              Policy</a>
          </div>
          <div routerLinkActive="background-color-accent_200">
            <a mat-list-item [routerLink]="['/disclaimer']" (click)="content.scrollTo({top: 0});">Disclaimer</a>
          </div>
          <div routerLinkActive="background-color-accent_200">
            <a mat-list-item [routerLink]="['/privacy']" (click)="content.scrollTo({top: 0})">Privacy
              Policy</a>
          </div>
          <div routerLinkActive="background-color-accent_200">
            <a mat-list-item [routerLink]="['/terms']" (click)="content.scrollTo({top: 0})">Terms of
              Use</a>
          </div>
        </mat-nav-list>
        <div class="copyright mat-caption">&copy; Sage Wall, 2019.</div>
        <div class="copyright mat-caption">All Rights Reserved.</div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content #content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
