<div class="container">
  <mat-card>
    <mat-card-title>Smelly Places</mat-card-title>
    <mat-card-subtitle>A Map of Smells</mat-card-subtitle>
    <mat-card-content>
      Welcome to Smelly Places. Click on the <a [routerLink]="['/map']">Map</a> link to view smelly places other users have created. Click on a smelly place to see additional infomation. Sign in with your Google account to edit the map. In edit mode one can click on an existing smelly place to edit it or click any place on the map to create a new smelly place.
    </mat-card-content>
  </mat-card>
</div>
